<script setup>
import { useItemStore } from '@/stores/items';

const props = defineProps({
    page: {
        type: Number,
        default: 1,
    },
});

const itemStore = useItemStore();
const { items, lastPage, loading } = storeToRefs(itemStore);
const { getCatalog } = itemStore;

onMounted(() => getCatalog({ page: props.page }));

onBeforeRouteUpdate((to, from, next) => {
    getCatalog({ page: to.query.page });
    next();
});

const searchTerm = ref('');
function onSearch({ term }) {
    searchTerm.value = term;
}
</script>

<template>
    <section
        id="catalog"
        :class="$style.component"
    >
        <div class="d-flex justify-center align-center my-4">
            <h1 class="text-h3 mb-3">
                Catalogue
            </h1>
            <AppSearchBar
                placeholder="Faites votre recherche d'objet ici..."
                class="search-bar ml-4"
                @search="onSearch"
            />
        </div>
        <v-row>
            <ItemsList
                v-if="items && items.length"
                :items="items"
                :nb-pages="lastPage"
                :current-page="page"
                :loading="loading"
            />
        </v-row>
    </section>
</template>

<style lang="scss" module>
.component :global {
    h1 {
        flex-shrink: 0;
    }

    .search-bar {
        flex-shrink: 1;
    }
}
</style>
