<script setup>
import { useLoginStore } from '@/stores/auth';
import { useItemStore } from '@/stores/items';

const props = defineProps({
    slug: {
        type: String,
        required: true,
    },
});

const { user: currentUser } = storeToRefs(useLoginStore());

const itemStore = useItemStore();
const { getOneBySlug, remove } = itemStore;
const { item } = storeToRefs(itemStore);

const relatedItems = ref([]);

onMounted(() => {
    if (!item || item.slug !== props.slug) {
        getOneBySlug(props.slug);
    }
});

function onDelete() {
    remove(item);
}
</script>

<template>
    <div :class="$style.component">
        <div
            v-if="item.owner && currentUser.slug === item.owner.slug"
            class="d-flex justify-end"
        >
            <v-btn
                prepend-icon="bi-pen"
                class="mr-2"
                color="secondary"
                :to="{ name: 'items-edit', params: { slug: item.slug} }"
            >
                Modifier
            </v-btn>
            <v-btn
                prepend-icon="bi-trash"
                class="mr-2"
                color="red"
                @click="onDelete"
            >
                Supprimer
            </v-btn>
        </div>
        <section
            v-if="item"
            id="detail-item"
            class="container px-4 px-lg-5 mt-4"
        >
            <ItemsDetail :item="item" />
        </section>
        <section
            v-if="relatedItems && relatedItems.length"
            class="py-5 bg-light"
        >
            <div class="container px-4 px-lg-5">
                <h2 class="fw-bolder mb-4">
                    Objets similaire
                </h2>
                <ItemsList
                    :items="items"
                    :nb-pages="lastPage"
                    :current-page="page"
                />
            </div>
        </section>
    </div>
</template>

<style lang="scss" module>
.component :global {
    .item-detail {
        img {
            max-height: 600px;
            max-width: 600px;
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1;
        }

        .user-avatar {
            max-height: 32px;
            max-width: 32px;
        }
    }
}
</style>
