<script setup>
import { useItemStore } from '@/stores/items';
import { useLoginStore } from '@/stores/auth';

const itemStore = useItemStore();
const { add } = itemStore;
const { loading } = storeToRefs(itemStore);
const { user: currentUser } = storeToRefs(useLoginStore());

const newItem = ref({
    name: '',
    description: '',
    tags: [],
    borrower: null,
    owner: currentUser,
    image: null,
});

const progress = ref(0);
async function onSubmit() {
    progress.value = 0;
    add(newItem.value, (event) => {
        progress.value = Math.round((100 * event.loaded) / event.total);
    });
}
</script>

<template>
    <section
        id="edit-item"
        :class="$style.component"
    >
        <ItemsForm
            v-model="newItem"
            :is-edit="false"
            :loading="loading"
            @submit="onSubmit"
        />
        <v-progress-linear
            v-model="progress"
            color="light-blue"
            height="25"
            reactive
        >
            <strong>{{ progress }} %</strong>
        </v-progress-linear>
    </section>
</template>

<style lang="scss" module>
.component :global {
}
</style>
