<script setup>
import { useItemStore } from '@/stores/items';

const props = defineProps({
    slug: {
        type: String,
        required: true,
    },
});
const itemStore = useItemStore();
const { getOneBySlug, edit } = itemStore;
const { item, loading } = storeToRefs(itemStore);

onMounted(() => {
    if (!item || item.slug !== props.slug) {
        getOneBySlug(props.slug);
    }
});

const progress = ref(0);
function onSubmit() {
    progress.value = 0;
    edit(item.value, (event) => {
        progress.value = Math.round((100 * event.loaded) / event.total);
    });
}
</script>

<template>
    <section
        id="edit-item"
        :class="$style.component"
    >
        <ItemsForm
            v-model="item"
            :is-edit="true"
            :loading="loading"
            @submit="onSubmit"
        />
        <v-progress-linear
            v-model="progress"
            color="light-blue"
            height="25"
            reactive
        >
            <strong>{{ progress }} %</strong>
        </v-progress-linear>
    </section>
</template>

<style lang="scss" module>
.component :global {
}
</style>
