<script setup>
import { storeToRefs } from 'pinia';
import { useLoginStore } from '@/stores/auth.js';

const loginStore = useLoginStore();
const { user } = storeToRefs(loginStore);
const { login } = loginStore;

function onLogin(event) {
    try {
        const { email, password } = event;
        login(email.value, password.value);
    } catch (error) {
        console.error(error.message);
    }
}
</script>

<template>
    <LoginForm
        :is-register="false"
        @login="onLogin"
    />
</template>

<style lang="scss" module>
</style>
