<script setup>
import { useItemStore } from '@/stores/items';
import { useLoginStore } from '@/stores/auth';

const props = defineProps({
    page: {
        type: Number,
        default: 1,
    },
});

const itemStore = useItemStore();
const { items, lastPage, loading } = storeToRefs(itemStore);
const { getCollection } = itemStore;
const { user: currentUser } = useLoginStore();

onMounted(() => getCollection({ page: props.page, owner: currentUser['@id'] }));

onBeforeRouteUpdate((to, from, next) => {
    getCollection({ page: to.query.page, owner: currentUser['@id'] });
    next();
});

const searchTerm = ref('');
function onSearch({ term }) {
    searchTerm.value = term;
}
</script>

<template>
    <section
        id="my-objects"
        :class="$style.component"
    >
        <div class="d-flex justify-center align-center my-2">
            <h1 class="text-h3 mb-3">
                Mes Objets
            </h1>
            <AppSearchBar
                placeholder="Faites votre recherche d'objet ici..."
                class="h-100 search-bar mx-4"
                @search="onSearch"
            />
            <v-btn
                type="button"
                color="secondary"
                append-icon="mdi-plus"
                :to="{ name: 'items-add' }"
            >
                Ajouter
            </v-btn>
        </div>
        <v-row>
            <ItemsList
                v-if="items && items.length"
                :items="items"
                :nb-pages="lastPage"
                :current-page="page"
                :loading="loading"
            />
        </v-row>
    </section>
</template>

<style lang="scss" module>
.component :global {
    h1 {
        flex-shrink: 0;
    }

    .search-bar {
        flex-shrink: 1;
    }
}
</style>
