<script setup>
function onRegister(event) {
    console.log(event);
}
</script>

<template>
    <LoginForm
        :is-register="true"
        @register="onRegister"
    />
</template>

<style lang="scss" module>
</style>
