<script setup>
import { useTagStore } from '@/stores/tag.js';

const props = defineProps({
    slug: {
        type: String,
        required: true,
    },
});

const tagStore = useTagStore();
const { tag } = storeToRefs(tagStore);
const { getOneBySlug } = tagStore;

onMounted(() => getOneBySlug(props.slug));

onBeforeRouteUpdate((to, from, next) => {
    getOneBySlug(to.params.slug);
    next();
});

</script>

<template>
    <div class="container">
        <h1>{{ tag.name }}</h1>
        <ul>
            <li
                v-for="tagChild in tag.children"
                :key="tagChild.slug"
                class="col"
            >
                <router-link :to="{ name: 'tags-detail', params: { slug: tagChild.slug } }">
                    {{ tagChild.name }}
                </router-link>
            </li>
        </ul>
    </div>
</template>

<style lang="scss" scoped>

</style>
