<script setup>
const route = ref(useRoute());
const layout = computed(() => {
    const { layout: layoutTemp } = route.value.meta;
    if (layoutTemp) {
        return `Layout${layoutTemp}`;
    }
    return 'div';
});
</script>

<template>
    <component :is="layout">
        <router-view />
    </component>
</template>
