<script>
import { useDisplay } from 'vuetify';

export default {
    name: 'LayoutDefault',
};
</script>

<script setup>
const { name: screenSize } = useDisplay();
</script>

<template>
    <v-app>
        <v-layout>
            <TheNavBar v-if="['md', 'lg', 'xl', 'xxl'].indexOf(screenSize) !== -1" />
            <TheNavbarMobile v-if="['xs', 'sm'].indexOf(screenSize) !== -1" />
            <v-main>
                <v-container>
                    <AppAlert />
                    <slot />
                </v-container>
            </v-main>
        </v-layout>
        <TheFooter />
    </v-app>
</template>

<style lang="scss" module>
</style>
