<!-- eslint-disable max-len -->
<script>
import TheNavBar from '@/components/TheNavBar';
import TheFooter from '@/components/TheFooter';

export default {
    name: 'LayoutSidebar',
};
</script>

<script setup>
defineProps({
});
</script>

<template>
    <main :class="[$style.component, 'h-100']">
        <TheNavBar />

        <div class="container-fluid pt-4">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-body-secondary" />
                <div class="col py-3">
                    <div
                        role="main"
                        class="main container pt-4 my-md-4"
                    >
                        <slot />
                    </div>
                </div>
            </div>
        </div>

        <TheFooter />
    </main>
</template>

<style lang="scss" module>

.component :global {
}
</style>
