<script setup>
import { useAlertStore } from '@/stores/alert';

const alertStore = useAlertStore();
const { alert } = storeToRefs(alertStore);
</script>

<template>
    <div
        v-if="alert"
    >
        <div class="m-3">
            <div
                class="alert alert-dismissible fade show"
                :class="alert.type"
                role="alert"
            >
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                    @click="alertStore.clear()"
                />
                {{ alert.message }}
            </div>
        </div>
    </div>
</template>
