<script setup>
const props = defineProps({
    name: {
        type: String,
        required: false,
        default: 'dropdown',
        note: 'Input name',
    },
    options: {
        type: Array,
        required: true,
        default: () => [],
        note: 'Options of dropdown. An array of options with id and name',
    },
    placeholder: {
        type: String,
        required: false,
        default: 'Please select an option',
        note: 'Placeholder of dropdown',
    },
    disabled: {
        type: Boolean,
        required: false,
        default: false,
        note: 'Disable the dropdown',
    },
    maxItem: {
        type: Number,
        required: false,
        default: 10,
        note: 'Max items showing',
    },
});

const selected = ref({});
const optionsShown = ref(false);
const searchFilter = ref('');

const filteredOptions = computed(() => {
    const filtered = [];
    const regOption = new RegExp(searchFilter, 'ig');
    props.options.forEach((option) => {
        if (searchFilter.value.length < 1 || option.name.match(regOption)) {
            if (filtered.length < props.maxItem) filtered.push(option);
        }
    });
    return filtered;
});

const emit = defineEmits(['selected', 'filter']);

function selectOption(option) {
    selected.value = option;
    optionsShown.value = false;
    searchFilter.value = selected.value.name;
    emit('selected', selected);
}
function showOptions() {
    if (!props.disabled) {
        searchFilter.value = '';
        optionsShown.value = true;
    }
}
function exit() {
    if (!selected.value.id) {
        selected.value = {};
        searchFilter.value = '';
    } else {
        searchFilter.value = selected.value.name;
    }
    emit('selected', selected);
    optionsShown.value = false;
}
// Selecting when pressing Enter
function keyMonitor(event) {
    if (event.key === 'Enter' && filteredOptions.value[0]) selectOption(filteredOptions.value[0]);
}

watch(searchFilter, () => {
    if (filteredOptions.value.length === 0) {
        selected.value = {};
    } else {
        [selected.value] = filteredOptions;
    }
    emit('filter', searchFilter);
});

onBeforeMount(() => {
    emit('selected', selected);
});
</script>

<template>
    <div
        v-if="options"
        :class="$style.component"
    >
        <!-- Dropdown Input -->
        <input
            v-model="searchFilter"
            class="dropdown-input dropdown-toggle"
            data-bs-toggle="dropdown"
            :name="name"
            :disabled="disabled"
            :placeholder="placeholder"
            @focus="showOptions()"
            @blur="exit()"
            @keyup="keyMonitor"
        >

        <!-- Dropdown Menu -->
        <div
            v-show="optionsShown"
            class="dropdown-content dropdown-menu"
        >
            <div
                v-for="(option, index) in filteredOptions"
                :key="index"
                class="dropdown-item"
                @mousedown="selectOption(option)"
            >
                {{ option.name || option.id || '-' }}
            </div>
        </div>
    </div>
</template>

<style lang="scss" module>
    .component :global {
        // position: relative;
        // display: block;
        // margin: auto;
        .dropdown-input {
            // background: #fff;
            cursor: pointer;
            // border: 1px solid #e7ecf5;
            // border-radius: 3px;
            // color: #333;
            // display: block;
            font-size: .9em;
            // padding: 6px;
            // min-width: 250px;
            // max-width: 250px;
            &:hover {
                // background: #f8f8fa;
            }
        }
        .dropdown-content {
            // position: absolute;
            // background-color: #fff;
            // min-width: 248px;
            // max-width: 248px;
            // max-height: 248px;
            // border: 1px solid #e7ecf5;
            // box-shadow: 0px -8px 34px 0px rgba(0,0,0,0.05);
            overflow: auto;
            z-index: 1;
            // .dropdown-item {
            //     // color: black;
            //     font-size: .7em;
            //     line-height: 1em;
            //     padding: 8px;
            //     text-decoration: none;
            //     display: block;
            //     cursor: pointer;
            //     &:hover {
            //         // background-color: #e7ecf5;
            //     }
            // }
        }
    }
</style>
