<template>
    <div class="text-center">
        <div class="lds-ring">
            <div /><div /><div /><div />
        </div>
    </div>
</template>

<script setup>
</script>

<style lang="scss" module>

</style>
