<template>
    <v-text-field
        v-model="searchTerms"
        :loading="loading"
        label="Votre recherche ici..."
        density="compact"
        variant="outlined"
        single-line
        hide-details
        :append-inner-icon="searchTerms ? 'bi-x' : 'mdi-magnify'"
        @click:append-inner="eraseSearchTerm"
        @update:model-value="onInput"
    />
</template>

<script setup>
defineProps({
    placeholder: {
        type: String,
        default: 'Search...',
    },
    loading: {
        type: Boolean,
        default: false,
    },
});

const emit = defineEmits(['search']);

const searchTerms = ref('');
const searchTimeout = ref(null);
function onInput() {
    if (searchTimeout.value) {
        clearTimeout(searchTimeout);
    }
    searchTimeout.value = setTimeout(() => {
        emit('search', { term: searchTerms });
        searchTimeout.value = null;
    }, 300);
}
function eraseSearchTerm() {
    searchTerms.value = '';
    emit('search', { term: searchTerms });
}
</script>

<style lang="scss" module>

</style>
