<!-- eslint-disable vue/no-v-model-argument -->
<script setup>
import { useTagStore } from '@/stores/tag';

const props = defineProps({
    isEdit: {
        type: Boolean,
        default: false,
    },
    modelValue: {
        type: Object,
        required: true,
    },
    loading: {
        type: Boolean,
        default: false,
    },
});

const emit = defineEmits(['update:modelValue', 'submit', 'image']);

const item = computed({
    get: () => props.modelValue,
    set: (val) => emit('update:modelValue', val),
});

function onSubmit() {
    if (!props.loading.value) {
        emit('submit');
    }
}

// Image
const currentFile = ref(undefined);
const imageBalise = ref(null);
watch(currentFile, (newFile) => {
    imageBalise.value = newFile ? URL.createObjectURL(newFile[0]) : null;
    item.value.image = newFile;
});

// Tags Search
const tagStore = useTagStore();
const { loading: tagsLoading, tags } = storeToRefs(tagStore);
const { getCollection } = tagStore;

onBeforeMount(() => getCollection({}));

const tagsSearch = ref('');
const searchTimeout = ref();

function onSearchTags(search = tagsSearch.value) {
    if (tagsSearch.value) {
        if (searchTimeout.value) {
            clearTimeout(searchTimeout.value);
        }
        searchTimeout.value = setTimeout(() => {
            searchTimeout.value = null;
            getCollection({ s: search });
        }, 250);
    }
}

watch(tagsSearch, (newSearch) => {
    onSearchTags(newSearch);
});
</script>

<template>
    <v-form
        :class="$style.component"
        fast-fail
        @submit.prevent="onSubmit"
    >
        <v-row>
            <v-col cols="3">
                <div class="mb-3 pt-3">
                    <v-file-input
                        v-model="currentFile"
                        label="Image de l'objet"
                        accept="image/*"
                        prepend-icon="bi-camera"
                        density="compact"
                        show-size
                        chips
                    />
                    <img
                        v-if="item.image && typeof(item.image) !== 'object'"
                        :src="item.image"
                        :alt="item.name"
                        class="mb-3"
                    >
                    <img
                        v-show="imageBalise"
                        :src="imageBalise"
                        class="mb-3"
                    >
                </div>
            </v-col>

            <v-col>
                <v-col>
                    <v-text-field
                        v-model="item.name"
                        label="Nom"
                    />
                </v-col>
                <v-col>
                    <v-textarea
                        v-model="item.description"
                        label="Description"
                    />
                </v-col>

                <v-col>
                    <v-autocomplete
                        v-model="item.tags"
                        v-model:search="tagsSearch"
                        :loading="tagsLoading"
                        :disabled="tagsLoading"
                        :items="tags"
                        :custom-filter="() => true"
                        chips
                        multiple
                        closable-chips
                        item-title="name"
                        item-value="@id"
                        return-object
                        label="Select tags"
                    />
                </v-col>
            </v-col>
            <v-col cols="12">
                <v-btn
                    type="submit"
                    block
                    class="mt-2"
                    :loading="loading"
                >
                    Sauvegarder
                </v-btn>
            </v-col>
        </v-row>
    </v-form>
</template>

<style lang="scss" module>
.component :global {
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1;
    }
    .max-size {
        max-width: 100%;
        max-height: 100%;
    }
}
</style>
