<script setup>
import { useLoginStore } from '@/stores/auth';

const propsState = defineProps({
    item: {
        type: Object,
        required: true,
    },
});

const { user } = storeToRefs(useLoginStore());

const detailRoute = ref({ name: 'items-detail', params: { slug: propsState.item.slug } });
</script>

<template>
    <v-col
        cols="12"
        sm="3"
        md="3"
        lg="2"
        xl="2"
        :class="[$style.component]"
    >
        <v-card class="mx-auto card-item fill-height text-center">
            <v-btn
                v-if="item && user && item.owner['@id'] === user['@id']"
                icon="bi-pen"
                size="x-small"
                :to="{ name: 'items-edit', params: { slug: item.slug } }"
                class="edit"
            />
            <router-link
                class="page-link d-block"
                :to="detailRoute"
            >
                <div class="img-zone">
                    <img
                        v-if="item.image"
                        :src="item.image"
                        :alt="item.name"
                    >
                    <div class="flags text-end">
                        <ItemsTagsList
                            v-if="item.tags.length <= 3"
                            :tags="item.tags"
                        />
                    </div>
                </div>
                <v-card-title>
                    {{ item.name }}
                </v-card-title>
                <v-row class="px-2 card-footer">
                    <v-col
                        xs="12"
                        sm="12"
                        md="6"
                    >
                        <v-list-item-subtitle>
                            <v-icon
                                size="x-small"
                                icon="bi-geo-alt-fill"
                                class="mr-1"
                            />
                            <a :href="`#${item.owner.pseudo}`">
                                <small>
                                    {{ item.borrower
                                        ? item.borrower.city
                                        : item.owner.city }}
                                </small>
                            </a>
                        </v-list-item-subtitle>
                    </v-col>
                    <v-col
                        xs="12"
                        sm="12"
                        md="6"
                    >
                        <v-list-item-subtitle>
                            <v-icon
                                size="x-small"
                                icon="bi-person-fill"
                                class="mr-1"
                            />
                            <small>{{ item.owner.pseudo }}</small>
                        </v-list-item-subtitle>
                    </v-col>
                </v-row>
            </router-link>
        </v-card>
    </v-col>
</template>

<style lang="scss" module>
.component :global {
    .card-item {

        &:hover {
            // box-shadow:
            //     0px 5px 5px -3px rgba(var(--v-theme-primary), 0.3),
            //     0px 8px 10px 1px rgba(var(--v-theme-primary), 0.2),
            //     0px 3px 14px 2px rgba(var(--v-theme-primary), 0.2) !important;
            box-shadow: 0 0 10px 1px rgba(var(--v-theme-primary), 1);
            z-index: 100;
        }

        .card-footer {
            margin-bottom: 5px;
        }

        a {
            text-decoration: none;
            color: inherit;
            &:hover {
                color: inherit;
            }
        }

        .img-zone {
            position: relative;
            line-height: 0;
        }
        .flags {
            z-index: 1000;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            aspect-ratio: 1;
        }

        .edit {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 500 !important;
            margin-right: 0.18rem;
            margin-top: 0.18rem;
        }
    }
}
</style>
