<script setup>
const props = defineProps({
    items: {
        type: Array,
        required: true,
    },
    loading: {
        type: Boolean,
        default: true,
    },
    nbPages: {
        type: Number,
        required: true,
    },
    currentPage: {
        type: Number,
        required: true,
    },
});

const page = ref(props.currentPage);
const router = useRouter();
function updatePage(to) {
    router.push({ name: props.routeName, query: { page: to } });
}

</script>

<template>
    <v-col>
        <AppLoader v-if="loading" />
        <div v-else>
            <v-row
                dense
                justify="center"
            >
                <ItemsListItemCard
                    v-for="item in items"
                    :key="item.id"
                    :item="item"
                />
            </v-row>
            <v-pagination
                v-if="nbPages > 1"
                v-model="page"
                :length="nbPages"
                @update:modelValue="updatePage"
            />
        </div>
    </v-col>
</template>

<style lang="scss" scoped></style>
