<script setup>
defineProps({
    item: {
        type: Object,
        required: true,
    },
});
</script>

<template>
    <v-col
        v-if="item"
        class="item-detail container px-4 px-lg-5 my-2"
    >
        <v-row class="align-center">
            <v-col cols="6">
                <img
                    v-if="item.image"
                    :src="item.image"
                    :alt="item.name"
                    class="card-img-top mb-5 mb-md-0"
                >
            </v-col>
            <v-col cols="6">
                <TagButton
                    v-for="(tag) in item.tags"
                    :key="tag.id"
                    :tag="tag"
                />
                <div
                    v-if="item.owner"
                    class="my-2"
                >
                    <router-link
                        class="d-flex align-center"
                        :to="{
                            name: 'users-detail',
                            params: { pseudo: item.owner.pseudo }
                        }"
                    >
                        <img
                            :src="item.owner.avatar ?? '@/assets/images/avatar-placeholder.jpg'"
                            :alt="item.owner.pseudo"
                            class="user-avatar rounded-circle border border-dark"
                        >
                        <small class="ps-2">
                            {{ item.owner.pseudo }}
                        </small>
                    </router-link>
                </div>
                <h1 class="display-5 fw-bolder">
                    {{ item.name }}
                </h1>
                <p class="lead">
                    {{ item.description }}
                </p>
                <div
                    v-if="item.owner"
                    class="d-flex"
                >
                    {{ item.owner.city }}
                </div>
                <v-list-item-subtitle
                    v-if="item.owner || item.borrower"
                    class="my-4"
                >
                    <v-icon
                        size="x-small"
                        icon="bi-geo-alt-fill"
                        class="mr-1"
                    />
                    <a :href="`#`">
                        <small>
                            {{ item.borrower
                                ? item.borrower.city
                                : item.owner.city }}
                        </small>
                    </a>
                </v-list-item-subtitle>
                <v-list-item-subtitle v-if="item.borrower">
                    <v-icon
                        size="x-small"
                        icon="bi-person-fill"
                        class="mr-1"
                    />
                    <small>{{ item.borrower.pseudo }}</small>
                </v-list-item-subtitle>
            </v-col>
        </v-row>
    </v-col>
</template>

<style lang="scss" scoped>
a {
    text-decoration: none;
    color: inherit;
}
</style>
