<script setup>
import { useDisplay } from 'vuetify';

const props = defineProps({
    tags: {
        type: Object,
        required: true,
    },
    lengthBeforeWrapping: {
        type: Number,
        default: 3,
    },
});

const { name: screenSize } = useDisplay();
const lengthBeforeWrappingComputed = computed(() => {
    if (screenSize.value === 'sm') {
        return props.lengthBeforeWrapping - 1;
    }
    if (screenSize.value === 'xs') {
        return props.lengthBeforeWrapping - 2;
    }
    return props.lengthBeforeWrapping;
});
</script>

<template>
    <div :class="$style.component">
        <div
            v-if="tags.length <= lengthBeforeWrappingComputed"
            class="d-flex tags"
        >
            <TagButton
                v-for="tag in tags"
                :key="tag.id"
                :tag="tag"
            />
        </div>
        <div v-else>
            <TagButton
                v-if="lengthBeforeWrappingComputed > 1"
                :tag="tags[0]"
            />
            <TagButton>
                <v-tooltip
                    activator="parent"
                    location="top"
                >
                    {{ tags.map((tag) => tag.name).join(', ') }}
                </v-tooltip>
                ...
            </TagButton>
            <!-- <v-btn
                class="tag"
                size="small"
                density="comfortable"
                rounded="xl"
            >
                <v-tooltip
                    activator="parent"
                    location="top"
                >
                    {{ tags.map((tag) => tag.name).join(', ') }}
                </v-tooltip>
                ...
            </v-btn> -->
        </div>
    </div>
</template>

<style lang="scss" module>
.component :global {
    .tags {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }
}
</style>
