<script setup>
import { useMenusStore } from '@/stores/menus';

const props = defineProps({
    isRegister: {
        type: Boolean,
        default: false,
    },
});

const email = ref('');
const pseudo = ref('');
const password = ref('');
const confirmPassword = ref('');
const form = ref();
const showPwd = ref(false);

if (!props.isRegister) {
    email.value = 'user@noreply.local';
    password.value = 'test';
}

const emailCounter = 40;
const pseudoCounter = 40;
const passwordCounter = 25;

const rules = ref({
    email: [
        (v) => !!v || 'Saisissez votre adresse e-mail.',
        (v) => !!v || ' is required',
        (v) => v.length <= emailCounter || `Maximum ${emailCounter} caratères`,
        // eslint-disable-next-line no-useless-escape
        (v) => /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v)
        || "L'email doit être valide",
    ],
    pseudo: [
        (v) => !!v || 'Saisissez votre pseudo.',
        (v) => v.length <= pseudoCounter || `Maximum ${pseudoCounter} caratères`,
    ],
    password: [
        (v) => v.length <= passwordCounter || `Maximum ${passwordCounter} caratères`,
        (v) => v.length >= 8 || 'Minimum 8 caratères',
    ],
    passwordField: [
        (v) => !!v || 'Saisissez votre mot de passe.',
    ],
    confirmPassword: [
        (v) => !!v || 'Confirmez votre mot de passe.',
        (v) => v === password.value || 'Mot de passe non identique.',
    ],
});

const title = computed(() => (props.isRegister ? 'Inscription' : 'Connexion'));

const { appBrand } = storeToRefs(useMenusStore());

const emit = defineEmits(['login', 'register']);

function onSubmit() {
    if (props.isRegister) {
        form.value.reset();
        emit('register', { email, pseudo, password });
    } else {
        emit('login', { email, password });
    }
}
</script>

<template>
    <v-card
        xs="12"
        sm="8"
        md="4"
        class="elevation-12 mx-auto"
    >
        <v-img
            :src="appBrand.logo"
            height="100"
            class="mt-4"
        />
        <v-card-text>
            <v-form
                ref="form"
                justify="center"
                class="align-center"
                @submit.prevent="onSubmit"
            >
                <v-text-field
                    v-model="email"
                    name="email"
                    label="Email"
                    type="text"
                    placeholder="email@exemple.com"
                    :counter="emailCounter"
                    :rules="rules.email"
                />

                <v-text-field
                    v-if="isRegister"
                    v-model="pseudo"
                    name="pseudo"
                    label="Pseudo"
                    type="text"
                    placeholder="pseudo"
                    :counter="pseudoCounter"
                    :rules="rules.pseudo"
                />

                <v-text-field
                    v-model="password"
                    name="password"
                    label="Password"
                    placeholder="password"
                    :type="showPwd ? 'text' : 'password'"
                    :append-inner-icon="showPwd ? 'mdi-eye-off' : 'mdi-eye'"
                    :counter="passwordCounter"
                    :rules="rules.passwordField.concat(rules.password)"
                    @click:append-inner="showPwd = !showPwd"
                />
                <a
                    v-if="!isRegister"
                    class="text-body-2 font-weight-regular"
                    href="#"
                >
                    Mot de passe oublié ?
                </a>
                <v-text-field
                    v-if="isRegister"
                    v-model="confirmPassword"
                    name="confirmPassword"
                    label="Confirm Password"
                    type="password"
                    placeholder="confirm password"
                    :counter="passwordCounter"
                    :rules="rules.confirmPassword.concat(rules.password)"
                />
                <v-btn
                    type="submit"
                    color="secondary"
                    value="log in"
                    class="mt-4"
                    block
                >
                    {{ title }}
                </v-btn>
            </v-form>
            <div
                class="d-flex mt-2 justify-center"
            >
                <p
                    v-if="isRegister"
                    class="text-body-2"
                >
                    Déjà un compte ?
                    <router-link :to="{ name: 'login' }">
                        Connectez-vous
                    </router-link>
                </p>
                <p
                    v-else
                    class="text-body-2"
                >
                    Vous n'avez pas de compte ?
                    <router-link :to="{ name: 'signup' }">
                        Inscrivez-vous
                    </router-link>
                </p>
            </div>
        </v-card-text>
    </v-card>
</template>

<style lang="scss" scoped>

</style>
