<template>
    <v-btn
        :to="route"
        class="tag text-none"
        size="small"
        density="comfortable"
        rounded="xl"
    >
        <slot>
            {{ tag?.name }}
        </slot>
    </v-btn>
</template>

<script setup>
const props = defineProps({
    tag: {
        type: Object,
        default: null,
    },
});
const route = computed(() => {
    if (props.tag) {
        return { name: 'tags-detail', params: { slug: props.tag.slug } };
    }
    return null;
});
</script>

<style lang="scss" scoped>
.tag {
    margin-right: 0.18rem;
    margin-bottom: 0.18rem;
}
</style>
