<script setup>
import { useMenusStore } from '@/stores/menus';

const { appBrand } = storeToRefs(useMenusStore());
</script>

<template>
    <v-footer class="d-flex justify-start align-center">
        <v-col>
            <div class="d-flex justify-start align-center">
                <router-link
                    :to="{ name: 'home' }"
                    class="me-2 text-decoration-none"
                >
                    <img
                        :src="appBrand.logo"
                        height="24"
                    >
                </router-link>
                <span>
                    © {{ new Date().getFullYear() }} — {{ appBrand.name }}
                </span>
            </div>
        </v-col>

        <v-col>
            <div class="justify-end d-flex">
                <a
                    class="ms-3"
                    href="#"
                ><v-icon icon="bi-twitter" /></a>
                <a
                    class="ms-3"
                    href="#"
                ><v-icon icon="bi-instagram" /></a>
                <a
                    class="ms-3"
                    href="#"
                ><v-icon icon="bi-facebook" /></a>
            </div>
        </v-col>
    </v-footer>
</template>

<style lang="scss" scoped>
    footer {
        max-height: 60px;
    }
</style>
