<script setup>
import { useTheme } from 'vuetify';

const themeVuetify = useTheme();

const getStoredTheme = () => localStorage.getItem('theme');
const setStoredTheme = (theme) => localStorage.setItem('theme', theme);

function getPreferredTheme() {
    const storedTheme = getStoredTheme();
    if (storedTheme) {
        return storedTheme;
    }

    return window.matchMedia('(prefers-color-scheme: dark)').matches
        ? 'dark'
        : 'light';
}

const currentTheme = ref(getPreferredTheme());
const currentIcon = computed(() => {
    const list = {
        auto: 'bi-circle-half',
        light: 'bi-sun-fill',
        dark: 'bi-moon-stars-fill',
    };
    return list[currentTheme.value];
});

function setTheme(theme) {
    if (
        theme === 'auto'
        && window.matchMedia('(prefers-color-scheme: dark)').matches
    ) {
        themeVuetify.global.name.value = 'dark';
        document.documentElement.setAttribute('data-bs-theme', 'dark');
    } else {
        themeVuetify.global.name.value = theme;
        document.documentElement.setAttribute('data-bs-theme', theme);
    }
}

setTheme(currentTheme.value);

window
    .matchMedia('(prefers-color-scheme: dark)')
    .addEventListener('change', () => {
        const storedTheme = getStoredTheme();
        if (storedTheme !== 'light' && storedTheme !== 'dark') {
            setTheme(getPreferredTheme());
        }
    });

onMounted(() => {
    setTheme(getPreferredTheme());
});

function onThemeChange(theme) {
    currentTheme.value = theme;
    setStoredTheme(currentTheme.value);
    setTheme(currentTheme.value);
}
</script>

<template>
    <v-menu>
        <template #activator="{ props }">
            <v-btn
                v-bind="props"
                :icon="currentIcon"
                class="mr-2"
            />
        </template>
        <v-list>
            <v-list-item
                :active="currentTheme === 'light'"
                @click.prevent="onThemeChange('light')"
            >
                <v-list-item-title>
                    <v-icon class="mr-2">
                        bi-sun-fill
                    </v-icon> Light
                </v-list-item-title>
            </v-list-item>
            <v-list-item
                :active="currentTheme === 'dark'"
                @click.prevent="onThemeChange('dark')"
            >
                <v-list-item-title>
                    <v-icon class="mr-2">
                        bi-moon-stars-fill
                    </v-icon> Dark
                </v-list-item-title>
            </v-list-item>
            <v-list-item
                :active="currentTheme === 'auto'"
                @click.prevent="onThemeChange('auto')"
            >
                <v-list-item-title>
                    <v-icon class="mr-2">
                        bi-circle-half
                    </v-icon> Auto
                </v-list-item-title>
            </v-list-item>
        </v-list>
    </v-menu>
</template>

<style lang="scss" module>
.component :global {
    .dropdown-menu-end {
        --bs-dropdown-min-width: 8rem;
        li + li {
            margin-top: 0.125rem;
        }
    }
    .dropdown-menu {
        --bs-dropdown-min-width: 7rem;
        --bs-dropdown-padding-x: 0.25rem;
        --bs-dropdown-padding-y: 0.25rem;
        // --bs-dropdown-link-hover-bg: rgba(var(--bd-violet-rgb), 0.1);
        // --bs-dropdown-link-active-bg: rgba(var(--bd-violet-rgb), 1);
        --bs-dropdown-font-size: 0.875rem;
        font-size: 0.875rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        z-index: 1;
        .active {
            font-weight: 600;
        }
    }

    .dropdown-menu .dropdown-item {
        border-radius: 0.25rem;
    }

    .bi {
        vertical-align: -0.125em;
        fill: currentColor;
    }

    .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}
</style>
