<script setup>
import { useLoginStore } from '@/stores/auth';
import { useMenusStore } from '@/stores/menus';

const { user } = storeToRefs(useLoginStore());
const dialog = ref(false);

const { appBrand, navMenus, userMenus } = storeToRefs(useMenusStore());
</script>

<template>
    <div>
        <v-app-bar color="primary">
            <template #prepend>
                <v-icon
                    color="lime"
                    class="mr-2"
                >
                    bi-flower2
                </v-icon>
                <v-app-bar-title>{{ appBrand.name }}</v-app-bar-title>
            </template>
            <v-spacer />
            <v-toolbar-items>
                <TheNavbarThemeMenu />
            </v-toolbar-items>
            <v-app-bar-nav-icon @click.prevent="dialog = true" />
        </v-app-bar>

        <v-row justify="center">
            <v-dialog
                v-model="dialog"
                fullscreen
                :scrim="false"
                transition="dialog-bottom-transition"
            >
                <v-card>
                    <v-toolbar
                        dark
                        color="primary"
                    >
                        <template #append>
                            <v-btn
                                icon
                                @click="dialog = false"
                            >
                                <v-icon>mdi-close</v-icon>
                            </v-btn>
                        </template>

                        <v-toolbar-title>Menu Principal</v-toolbar-title>
                    </v-toolbar>
                    <v-list>
                        <v-list-item
                            to="/"
                            link
                            selected-class="active"
                            @click="dialog = false"
                        >
                            <v-list-item-title>
                                Accueil
                            </v-list-item-title>
                        </v-list-item>
                        <v-list-item
                            v-for="(menu, index) in navMenus"
                            :key="index"
                            :to="menu.route"
                            link
                            @click="dialog = false"
                        >
                            <v-list-item-action>
                                <v-icon v-if="menu.icon">
                                    {{ menu.icon }}
                                </v-icon>
                            </v-list-item-action>
                            <v-list-item-title>
                                {{ menu.title }}
                            </v-list-item-title>
                        </v-list-item>
                    </v-list>

                    <v-divider />

                    <v-list v-if="user !== null">
                        <v-list-subheader class="mb-2">
                            <v-avatar
                                v-if="user?.avatar"
                                class="mr-3"
                                :alt="user.pseudo"
                                size="40"
                            >
                                <v-img
                                    :src="user?.avatar"
                                    cover
                                />
                            </v-avatar> {{ user?.pseudo }}
                        </v-list-subheader>
                        <v-list-item
                            v-for="(menu, index) in userMenus"
                            :key="index"
                            link
                            @click="dialog = false"
                            @click.prevent="menu.action"
                        >
                            <v-list-item-action>
                                <v-icon v-if="menu.icon">
                                    {{ menu.icon }}
                                </v-icon>
                            </v-list-item-action>
                            <v-list-item-title>
                                {{ menu.title }}
                            </v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-dialog>
        </v-row>
    </div>
</template>

<style lang="scss" scoped>

</style>
