<script setup>
import { useLoginStore } from '@/stores/auth';
import { useMenusStore } from '@/stores/menus';

const { user } = storeToRefs(useLoginStore());

const { appBrand, navMenus, userMenus } = storeToRefs(useMenusStore());
</script>

<template>
    <v-app-bar
        color="primary"
        flat
        :class="[
            $style.component,
            'px-12'
        ]"
    >
        <template #prepend>
            <v-icon
                color="lime"
                class="mr-2"
            >
                bi-flower2
            </v-icon>
            <v-app-bar-title>{{ appBrand.name }}</v-app-bar-title>
        </template>

        <v-toolbar-items class="ml-4">
            <v-list-item
                to="/"
                link
                selected-class="active"
            >
                <v-list-item-title>
                    Accueil
                </v-list-item-title>
            </v-list-item>
            <v-list-item
                v-for="(menu, key) in navMenus"
                :key="key"
                :to="menu.route"
                selected-class="active"
            >
                <v-list-item-title>
                    {{ menu.title }}
                </v-list-item-title>
            </v-list-item>
        </v-toolbar-items>

        <v-spacer />

        <template #append>
            <TheNavbarThemeMenu />
            <v-menu v-if="user">
                <template #activator="{ props }">
                    <v-btn
                        v-bind="props"
                        icon=""
                    >
                        <v-avatar
                            v-if="user.avatar"
                            :alt="user.pseudo"
                            size="40"
                        >
                            <v-img
                                :src="user.avatar"
                                cover
                            />
                        </v-avatar>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item
                        v-for="(userMenu, key) in userMenus"
                        :key="key"
                        @click.prevent="userMenu.action"
                    >
                        <v-list-item-title>
                            {{ userMenu.title }}
                        </v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
            <div v-else>
                <v-btn
                    variant="tonal"
                    class="mr-2"
                    :to="{ name: 'login' }"
                >
                    Se connecter
                </v-btn>
                <v-btn
                    variant="outlined"
                    :to="{ name: 'signup' }"
                >
                    S'inscrire
                </v-btn>
            </div>
        </template>
    </v-app-bar>
</template>

<style lang="scss" module>
.component :global {
    color: white;
    .currentUser {
        img {
            width: 32px;
            height: auto;
            object-fit: cover;
            aspect-ratio: 1;
        }
    }
}
</style>
