
.main-content {
    margin-bottom: 12rem;
}

.item-card {
    // width: 5rem;
    height: 100px;
    background-color: var(--form-control-bg);
    .car-body {
        padding-top: 5px;
    }
    img {
        width: auto;
        height: 100%;
        object-fit: cover;
    }
}
