.flags {
    background-repeat: no-repeat;
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    color-scheme: dark;
    direction: ltr;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: absolute;
    right: 0px;
    tab-size: 4;
    text-align: end;
    text-rendering: optimizelegibility;
    word-break: normal;
    z-index: 1000
}

.flags-bs {
    background-repeat: no-repeat;
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    color-scheme: dark;
    direction: ltr;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: absolute;
    right: 0px;
    tab-size: 4;
    text-align: end;
    text-rendering: optimizelegibility;
    word-break: normal;
    z-index: 1000
}

.img-bs {
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    color-scheme: dark;
    direction: ltr;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    height: 211px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    object-fit: cover;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    tab-size: 4;
    text-align: center;
    text-rendering: optimizelegibility;
    vertical-align: middle;
    width: 211px;
    word-break: normal
}

.img {
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    color-scheme: dark;
    direction: ltr;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    height: 211px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    object-fit: cover;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    tab-size: 4;
    text-align: center;
    text-rendering: optimizelegibility;
    width: 211px;
    word-break: normal
}

.zone-bs {
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    color-scheme: dark;
    direction: ltr;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    tab-size: 4;
    text-align: center;
    text-rendering: optimizelegibility;
    word-break: normal
}

.zone {
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    color-scheme: dark;
    direction: ltr;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    tab-size: 4;
    text-align: center;
    text-rendering: optimizelegibility;
    word-break: normal
}

.tags-bs {
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    color-scheme: dark;
    direction: ltr;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    tab-size: 4;
    text-align: end;
    text-rendering: optimizelegibility;
    word-break: normal
}

.tag-bs {
    align-items: center;
        background-color: rgb(82, 83, 81);
        background-repeat: repeat;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        border-bottom-style: solid;
        border-bottom-width: 0px;
        border-left-style: solid;
        border-left-width: 0px;
        border-right-style: solid;
        border-right-width: 0px;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        border-top-style: solid;
        border-top-width: 0px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        color-scheme: dark;
        direction: ltr;
        display: grid;
        flex-shrink: 0;
        font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 12px;
        font-weight: 600;
        grid-template-areas: "prepend content append";
        grid-template-columns: 0px 89.0333px 0px;
        height: 20px;
        justify-content: center;
        letter-spacing: 1.07143px;
        line-height: normal;
        margin-bottom: 2.88px;
        margin-left: 0px;
        margin-right: 2.88px;
        margin-top: 0px;
        max-width: 100%;
        min-width: 50px;
        outline-color: rgb(255, 255, 255);
        outline-style: none;
        outline-width: 0px;
        overflow-wrap: break-word;
        padding-bottom: 0px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 0px;
        position: relative;
        tab-size: 4;
        text-align: end;
        text-decoration-color: rgb(255, 255, 255);
        text-decoration-line: none;
        text-decoration-style: solid;
        text-decoration-thickness: auto;
        text-indent: 1.07143px;
        text-rendering: optimizelegibility;
        text-transform: uppercase;
        transition-duration: 0.28s;
        transition-property: box-shadow, transform, opacity, background;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        user-select: none;
        vertical-align: middle;
        word-break: normal
}

.tag {
    align-items: center;
        background-color: rgb(82, 83, 81);
        background-repeat: repeat;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        border-bottom-style: solid;
        border-bottom-width: 0px;
        border-left-style: solid;
        border-left-width: 0px;
        border-right-style: solid;
        border-right-width: 0px;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        border-top-style: solid;
        border-top-width: 0px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        color-scheme: dark;
        direction: ltr;
        display: grid;
        flex-shrink: 0;
        font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 12px;
        font-weight: 600;
        grid-template-areas: "prepend content append";
        grid-template-columns: 0px 76.8167px 0px;
        height: 20px;
        justify-content: center;
        letter-spacing: 1.07143px;
        line-height: normal;
        margin-bottom: 2.88px;
        margin-left: 0px;
        margin-right: 2.88px;
        margin-top: 0px;
        max-width: 100%;
        min-width: 50px;
        outline-color: rgb(255, 255, 255);
        outline-style: none;
        outline-width: 0px;
        overflow-wrap: break-word;
        padding-bottom: 0px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 0px;
        position: relative;
        tab-size: 4;
        text-align: end;
        text-decoration-color: rgb(255, 255, 255);
        text-decoration-line: none;
        text-decoration-style: solid;
        text-decoration-thickness: auto;
        text-indent: 1.07143px;
        text-rendering: optimizelegibility;
        text-transform: uppercase;
        transition-duration: 0.28s;
        transition-property: box-shadow, transform, opacity, background;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        user-select: none;
        vertical-align: middle;
        word-break: normal
}