{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea.crud.currentAction == 'detail' %}
        {% for value in field.value %}
            <a href="{{ ea_url()
                    .setController('App\\Controller\\Admin\\TagCrudController')
                    .setAction('detail')
                    .setEntityId(value.id)
            }}">
                <span class="badge badge-info">{{ value.name }}</span>
            </a>
        {% endfor %}
{% else %}
    <span class="badge badge-secondary">{{ field.formattedValue }}</span>
{% endif %}