{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea.crud.currentAction == 'detail' %}
    <div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for value in field.value %}
            {% set user = attribute(value, field.help.message) %}
            <div class="col">
                <div class="card item-card">
                    <div class="row g-0 h-100">
                        <div class="col-md-4 h-100">
                            <a href="{{ ea_url()
                                .setController('App\\Controller\\Admin\\ItemCrudController')
                                .setAction('detail')
                                .setEntityId(value.id)
                            }}">
                                <img src="{{ vich_uploader_asset(value.image) }}" class="img-fluid rounded-start" alt="{{ value.name }}">
                            </a>
                        </div>
                        <div class="col-md-8 h-100">

                            <div class="card-body pt-2">
                                <a href="{{ ea_url()
                                    .setController('App\\Controller\\Admin\\ItemCrudController')
                                    .setAction('detail')
                                    .setEntityId(value.id)
                                }}">
                                    <h5 class="card-title">{{ value.name }}</h5>
                                </a>

                                <p class="card-text"><small class="text-body-secondary">
                                    {{ ('crud.fields.' ~ field.help.message)|trans }} :
                                    {% if user %}
                                        <a href="{{ ea_url()
                                            .setController('App\\Controller\\Admin\\UserCrudController')
                                            .setAction('detail')
                                            .setEntityId(user.id)
                                        }}" class="card-link">{{ user.pseudo }}</a>
                                    {% else %}
                                        none
                                    {% endif %}
                                </small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% else %}
    <span class="badge badge-secondary">{{ field.formattedValue }}</span>
{% endif %}