{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if field.value %}

	{% set html_id = 'ea-lightbox-' ~ field.uniqueId %}
	<a href="#" class="ea-lightbox-thumbnail" data-ea-lightbox-content-selector="#{{ html_id }}">
		<img src="{{ vich_uploader_asset(entity.instance.image) }}" class="img-fluid">
	</a>

	<div id="{{ html_id }}" class="ea-lightbox">
		<img src="{{ vich_uploader_asset(entity.instance.image) }}">
	</div>

{% else %}
    <span class="badge badge-secondary">
        Empty
    </span>
{% endif %}
